name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install build essentials and ninja
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential ninja-build

    - name: Set up CMake
      uses: jwlawson/actions-setup-cmake@v2
      with:
        cmake-version: 'latest'

    - name: Configure
      run: |
        cmake -S . -B build \
        -DCMAKE_BUILD_TYPE=Release \
        -G 'Ninja'

    - name: Build
      run: cmake --build build -j$(nproc)
